html{
    scroll-behavior: smooth;
}

body{
    padding: 0;
    margin: 0;
}

.header-bar{
    display: flex;
    margin: 0rem;
    padding: 0rem;
    height: 5rem;
    position: fixed;
    top: 0;
    width: 100%;
    background-color: white;
    z-index: 1000;
    box-shadow: 0 -6px 10px 5px rgba(0,0,0,0.5);
}

.college-name{
    font-family: 'Roboto', sans-serif;
    color: rgb(20, 20, 73);
    margin: 1rem;
    margin-left: 2rem;
    margin-top: 1.3rem;
}

.nav-bar{
    position: fixed;
    right: 5rem;
    top: 2rem;
}

.nav-links{
    padding: 1rem;
    text-decoration: none;
    font-size: 1.1rem;
    color: grey;
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: bold;
}

.nav-links:hover{
    color: rgb(20, 20, 73);
}

.section-heading{
    text-align: center;
    font-family: 'Roboto Mono', monospace;
    color: rgb(12, 58, 128);
    margin: 1 rem;
}

.footer-section{
    background-color: rgb(232, 245, 250);
    font-family: sans-serif;
    color: rgb(12, 58, 128);
    padding: 2rem;
    line-height: 1.5rem;
    text-align: center;
}

.company-footer-heading{
    padding: 0;
    margin: 0;
}

@media only screen and (max-width: 768px) and (min-width: 475px){
.header-bar{
    display: flex;
    justify-content: center;
}

.college-name{
    margin-top: 0.3rem;
}

.nav-bar{
    right: auto;
    top: 2rem;
    display: flex;
    flex-wrap: wrap;
}
    
}

@media only screen and (max-width: 475px){
    .header-bar{
        display: flex;
        justify-content: center;
    }
    
    .college-name{
        margin-top: 0.3rem;
    }
    
    .nav-bar{
        right: auto;
        top: 2rem;
        display: flex;
        flex-wrap: wrap;
    }

    .nav-links{
        padding: 0.3rem;
        font-size: 0.95rem;
        padding-top: 1rem;
    }
        
    }